*.iml
.gradle
.idea
/local.properties
/.idea
.DS_Store
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# Android build outputs
/build/
/app/build/
*.apk
.vscode/settings.json
astryxbook-release.b64
astryxbook-release.jks
PR_BODY.md
